.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_login {
  position: absolute;
  background: #fff;
  top: 4.2rem;
  z-index: 999;
  width: 30rem;
  min-height: 10rem;
  text-align: center;
  padding: 1rem;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1), 0px 0px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.profile_login::after {
  content: "";
  background: #fff;
  width: 2rem;
  height: 2rem;
  transform: rotate(45deg);
  position: absolute;
  top: -1rem;
  left: 47.5%;
  z-index: 900;
}

.profile_login h2 {
  font-size: 2rem;
}
.profile_login a {
  background: #333333;
  padding: 1.2rem 5rem;
  color: #fff;
}

.profile_login a:hover {
  background: #444444;
}

.dropdown_profile {
  position: absolute;
  background: #fff;
  top: 4rem;
  padding: 2rem;
  z-index: 999;
  width: 25rem;
  min-height: 20rem;
  text-align: center;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1), 0px 0px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.dropdown_profile::after {
  content: "";
  background: #fff;
  width: 2rem;
  height: 2rem;
  transform: rotate(45deg);
  position: absolute;
  top: -1rem;
  left: 47%;
  z-index: 900;
}

.dropdown_profile div:nth-child(1) {
  display: flex;
  align-items: center;
}

.profile_image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: chocolate;
}

.dropdown_profile h2 {
  margin: 0 1rem;
  font-size: 1.5rem;
  columns: #333333;
}
.seperater {
  display: block;
  width: 100%;
  border-bottom: 1px solid #919199;
  margin-top: 2rem;
}

.profile_menu {
  margin-top: 1rem;
  display: block;
  width: 100%;
}
.profile_menu ul {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.profile_menu ul li {
  margin: 1rem 0rem;
}
.profile_menu ul li a {
  color: #007791;
  display: flex;
  align-items: center;
}

.profile_menu ul li a svg {
  margin-right: 1rem;
}

.profile_menu ul li a:hover {
  color: #333333;
}
