@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
.productDetial_wrapper {
  width: 70%;
  margin: 5rem auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper_img {
  width: 50rem;
  min-width: 40rem;
  min-height: 60rem;
  flex: 1 1 40rem;
  margin: 2rem;
  border: 2px solid black;
  border-radius: 2rem;
  position: relative;
}

.wrapper_img img {
  position: absolute;
  width: 40rem;
  height: 40rem;
  object-fit: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
}

.product_info {
  min-width: 50rem;
  min-height: 60rem;
  flex: 1 1 40rem;
  border-radius: 2rem;
  margin: 2rem;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 4rem 5rem;
}

.product_info h3 {
  font-weight: 700;
  font-size: 3rem;
  text-align: start;
}
.product_info p {
  margin-top: 1rem;
  text-transform: capitalize;
}
.product_category {
  color: #919191;
  font-size: 1.5rem;
}
.product_category a {
  text-transform: capitalize;
  color: black;
  margin: 0rem 0.5rem;
}
.product_category a:hover {
  color: #20c997;
}

.stock {
  margin: 3rem 0rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.stock p {
  font-size: 1.5rem;
}
.stock p span {
  background: #28a745;
  border-radius: 3rem;
  margin-left: 2rem;
  padding: 0.5rem 1.5rem;
  color: #fff;
  font-size: 1.4rem;
}
.stock_unavailable {
  background: #c82914;
  border-radius: 3rem;
  margin-left: 2rem;
  padding: 0.5rem 1.5rem;
  color: #fff;
  font-size: 1.4rem;
}
.product_price {
  font-family: "Roboto Condensed";
  color: #20c997;
}
.cart {
  margin: 4rem 0rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.product_quantity select {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid rgb(39, 38, 38);
  transition: all 0.5s ease;
  cursor: pointer;
}

.add_to_cart {
  padding: 1rem 5rem;
  cursor: pointer;
  border-radius: 3rem;
  border: none;
  outline: none;
  background: #777777;
  transition: all 0.5s ease;
  margin: 0rem 5rem;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add_to_cart svg {
  font-size: 2rem;
  margin: 0rem 0.5rem;
}
.add_to_cart:hover {
  background: #20c997;
  color: #000;
}

.wishlist {
  width: 100%;
  border-bottom: 1px solid #919191;
  padding-bottom: 1rem;
  font-size: 2rem;
}
.wishlist a {
  font-size: 1.7rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #919191;
}

.wishlist svg {
  font-size: 3rem;
  color: #20c997;
  margin: 0rem 1rem 0rem 0rem;
}

.product_meta {
  margin: 2rem 0rem;
  color: #919191;
  font-size: 1.5rem;
  width: 100%;
  border-bottom: 1px solid #919191;
  padding-bottom: 2rem;
}
.product_meta a {
  text-transform: capitalize;
  color: black;
  margin: 0rem 0.5rem;
}
.product_meta a:hover {
  color: #20c997;
}

.sharing {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}
.sharing h4 {
  text-transform: capitalize;
}
.share_links ul {
  flex: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.share_links ul li {
  width: 4rem;
  height: 4rem;
  margin: 0rem 1rem;
  position: relative;
}
.share_links ul li a {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border: 1px solid #919191;
  color: #919191;
  transition: all 0.5s ease;
}
.share_links ul li a svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.share_links ul li a:hover {
  background: #919191;
  color: #fff;
}
